<div style="color:white; "><h1>Appllist#update_status</h1>
<p>Find me in app/views/appllist/update_status.html.erb</p>
<% @jobapplication=Jobapplication.find(params[:jobapplication_id]) %>
<%= @jobapplication.status %>
</div>