<div style="color:white; "><h1>Editing job</h1>

<%= render 'form' %>
  <style>
      /* unvisited link */
      a:link {
          color: bisque;
      }

      /* visited link */
      a:visited {
          color: silver;
      }

      /* mouse over link */
      a:hover {
          color: #FF00FF;
      }
  </style>
<%= link_to 'Show', @job %> |
<%= link_to 'Back', jobs_path %>
</div>