<div style="color:white; "><h1>New Job Application</h1>


  <%= "Applying Job Name: " + @job.name %><br>
  <%= "Employer: "+ @job.employer_name.to_s %>


<%= render 'form' %>
  <style>
      /* unvisited link */
      a:link {
          color: bisque;
      }

      /* visited link */
      a:visited {
          color: silver;
      }

      /* mouse over link */
      a:hover {
          color: #FF00FF;
      }
  </style>
<%= link_to 'Back', jobpool_index_url %>
</div>