<div style="color:white; "><h1>New Job Application</h1>


  <%= "Applying Job Name: " + @job.name %><br>
  <%= "Employer: "+ @job.employer.to_s %>


<%= render 'form' %>

<%= link_to 'Back', jobpool_index_url %>
</div>